body{background:url(../images/body.jpg) no-repeat;background-size:cover;}
.patient_list_title,.tabs_expert_content{padding:0;width:100%;text-indent:0px;margin-top:10px;font-size:16px;}
.main-title{background:none;padding:5px 0 0 0;}
.patient_list_title, .tabs_expert_content{text-indent:10px;}
#containers{margin:0 5px;width:auto;}
#containers .patient_banner,.tab_content_end{background:rgba(255,255,255,0.8);padding:10px 0;}
.patient_list_titleBasic{margin-bottom:0px;}
#containers .patient_banner table tr td{padding:10px 0;font-size:14px;}
.tab_content{background:rgba(255,255,255,0.8);border:none;}
.tab_content{width:100%;margin-bottom:5px;}
.tab_content .tab_content_title{padding-left:8px;}
.tab_content_end .tab_content_p{padding:0px 20px 100px 20px;}
.tab_content .tab_content_title span{color:#2fc3c2;}
#header{margin-top:50px;}
#header .logo{margin-bottom:20px;}
.tab_content table tr td,#containers .patient_banner table tr td{border-bottom:1px dashed #2fc3c2;}
.home{position: fixed;top:0;left:0;width:100%;height:100%;background:#2fc3c2;z-index:99999; text-align:center; background-size:cover; display:block;}
.home img{margin-top: 120px;width:189px;height:188px;}
.header{padding:13px 0;height:auto;position: fixed;top:0;left:0;width:100%;font-size:18px;color:#fff;background:#2fc3c2;z-index:999; text-align:center; }
.header .iBack{position: absolute;left:0px;top:7px;font-size:32px;color:#fff;width:40px; text-align:center; display:inline-block;}
.header .iBack:hover{color:#f2f2f2;}
.footer{height:52px;position: fixed;bottom:0;left:0;width:100%;font-size:18px;color:#fff;background:#2fc3c2;z-index:999; text-align:center; display:flex;}
.footer a{flex:1;display:inline-block;text-align:center;color:#fff;font-size:12px; position:relative;}
.footer a i{color:#fff;font-size:18px;width:100%;display:block;margin-top:8px;}
.phone{position: relative;bottom: 26px;height: 70px;width: 70px;background:#2fc3c2;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;border:2px solid #a3edf2; display:block;margin:0 auto;}
.footer .phone i{font-size:24px;padding-bottom:3px;margin-top:11px;}
.contentHome{margin: 5px 5px 100px 5px;}
.contentHome .partHome{width:100%; display:flex;}
.contentHome .partHome .partHi{flex:1;margin:10px 5px 0px 5px;}
.contentHome .partHome .partHi a{padding:15px 0;display:inline-block;text-align:center;color:#fff;font-size:16px;width:100%;height:100%; -moz-border-radius:12px;-webkit-border-radius:12px;border-radius: 12px;}
.contentHome .partHome .partHi a.hi1{background:#e39395;}
.contentHome .partHome .partHi a.hi2{background:#7c93fb;}
.contentHome .partHome .partHi a.hi3{background:#e293fb;}
.contentHome .partHome .partHi a.hi4{background:#c796e9;}
.contentHome .partHome .partHi a.hi5{background:#f2bf97;}
.contentHome .partHome .partHi a.hi6{background:#81cd98;}
.contentHome .partHome .partHi a i{color:#fff;font-size:32px;width:100%;display:block;margin-bottom:3px;}
.contentHome .partHome .partHi a:hover,.contentHome .partHome .partHi a:focus{filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}
#mhs{position:absolute;left:0px;top:0px;z-index:99;width:100%;height:100%;display:none;}
#ssh{height:100%;}
#ssh,#inline{position:absolute;left:0px;top:0px;z-index:99;width:100%;/* height:100%; */display:none;background: #a3edf2;text-align:center;}
#ssh .bdsharebuttonbox{margin-top:80px;width:auto; display:inline-block; }
#ssh .bdsharebuttonbox a{float:none;width:25%;font-size:14px;margin:15px; display:inline-block; text-align:left;padding-left: 20px;}
#ssh .bdsharebuttonbox a:hover{color:#2fc3c2;}
#inline .inlineContent{margin-top: 50px;text-align:center;margin-bottom: 100px;}
#inline .inlineContent img{margin-bottom: 10px;max-width: 60%;margin-top: 20px;}
#inline .inlineContent a{width:100%;display:block;}
.wzTitle{position:relative;background:rgba(255,255,255,0.7);height:36px;line-height:36px;margin:15px 0 5px 0;}
.wzTitle div{position: absolute;left:0px;height:36px;line-height:36px;color:#fff;font-size:16px;top:0px;padding:0 25px 0 10px; -moz-border-radius:0px 0px 36px 0;-webkit-border-radius:0px 0px 36px 0;border-radius:0px 0px 36px 0;background:rgba(47,195,194,0.8);}
.wzTitle a{float:right;display:inline-block;padding: 3px 8px;background:rgba(47,195,194,0.8);color:#fff;font-size:12px;height: auto;line-height: normal;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius: 5px;margin:7px 10px 0 0;}
.wzTitle a:hover,.wzTitle a:focus{background:rgba(47,195,194,0.7);}
.wzTitle a i{color:#fff;padding-right:3px;}
.newsUl{width:100%;}
.newsUl li{width:100%;background:rgba(255,255,255,0.7);padding:10px;margin-bottom:5px;clear:both;}
.newsUl li img{width:129px;height:86px;float:left;margin-right:10px;}
.newsUl li .liC h2{font-size:14px;color:#2fc3c2;margin-right:3px;}
.newsUl li .liC p{font-size:12px;color:#666;line-height:1.5em;}
.newsUl li a:hover h2{ text-decoration:underline;}

.banner{ position:relative;height:150px;width:100%;margin-top:50px;}
.banner h1{position:absolute;left:16px;top:30px;background:rgba(255,255,255,0.5);font-size:18px;color:#159a99;padding:5px 15px;}
.banner p{position:absolute;left:25px;top:60px;background:rgba(255,255,255,0.5);font-size:16px;color:#159a99;padding:5px 15px;}
.banner img{height:150px;max-width:100%;width:100%;}
.newsContent{clear:both;background:rgba(255,255,255,0.5);margin:5px 0 10px 0;width:100%;padding:10px 16px 120px 16px; text-align:center;}
.newsContent img{max-width:90%;margin:20px 0 0 0;}
.newsContent p{color:#666;font-size:16px;line-height:1.5em;margin-bottom:10px; text-indent:2em;}
.newsContent h1{color:#2fc3c2;font-size:18px;margin:15px 0 10px 0;}
.newsContent p.ph{font-size:14px;color:#333;padding:0 50px 30px 50px; text-align:center;text-indent:0px;line-height: normal;}
.newsContent p.ph span{padding:0 5px;}
.newsContent p i{color:#2fc3c2;font-size:18px;padding-right:5px;}

.dgl{position:fixed;left:0;top:0;z-index:89999999;width:100%;height:100%; background:#000;filter:alpha(opacity=0); -moz-opacity:0; opacity:0; display:none;}
.dgC{position:fixed;left:10%;top:0;z-index:99999999;width:80%;height:auto;padding: 0 0 20px 0;text-align:center;background:#fff;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;box-shadow: 1px 1px 8px rgba(0,0,0,0.5);display:none;}
.dgC .dgCT{position:relative;background: rgba(47,195,194,1);height:34px;line-height:34px;-moz-border-radius:10px 10px;-webkit-border-radius:10px 10px;border-radius:10px 10px 0 0;font-size:18px;color:#fff;margin-bottom: 20px;}
.dgC .dgCT .dgClose{position: absolute;right:10px;height:34px;line-height:34px;color:#fff;font-size:20px;top:-2px;color:#fff;font-size:24px;cursor:pointer;}
.dgC .dgCT .dgClose:hover{color:#f2f2f2;}
.dgC img{max-width: 70%;margin:20px 0 25px 0;}
.dgC .dgCC{width:85%;margin:0 auto;}
.dgC .dgCC input{width:100%;/* height:40px; *//* line-height:40px; */padding: 10px 10px;border:1px solid #ddd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin-bottom:10px;font-size:16px;color:#333;}
.dgC .dgCC input.submit{border:none;/* height:42px; *//* line-height:42px; */color:#fff;background:rgba(47,195,194,1);width:100%;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:16px;cursor:pointer;}
.dgC .dgCC input.submit:hover{background:rgba(47,195,194,0.8);}
.wr{color:#000;}
#containers .patient_banner, .tab_content_end,.tab_content{-moz-box-shadow: 0 1px 2px rgba(47,195,194,0.3);-webkit-box-shadow: 0 1px 2px rgba(47,195,194,0.3);box-shadow: 0 1px 2px rgba(47,195,194,0.3);}
.contentSelf{position:fixed;left:0px;top:50px;width:100%;background:#fdfdfd;text-align: center;}

div#mapBox {}
.contentSelf .selfTabs{float:left;width: 145px;height:100%;background:#efefef;text-align: left;overflow-y: auto;}
.contentSelf .selfTabContent{float:right;height:100%;padding:0px 0px;overflow-y: auto;}
.contentSelf .selfTabs li{padding: 10px 20px 10px 10px;color:#2fc3c2;font-size: 16px;}
.contentSelf .selfTabs li i{width: 30px; text-align:center;display:inline-block;}
.contentSelf .selfTabs li.selfCur,.contentSelf .selfTabs li:hover{background:#fdfdfd; cursor:pointer;}
.contentSelf .selfTabContent a{padding:10px 20px;clear:both;display:block;color:#2fc3c2;font-size: 16px;}






.peopBox{/* width: 250px; */overflow:hidden;height:310px;_zoom:1; /* padding-left:80px; */margin: 0 auto;/* margin-top: 50px; */display: inline-block;}

.headLink{position:absolute;width:97px;height:39px;display:block;right:0;padding:0 5px 0 0;display:none; z-index:3; background:#666; top:7px;}
.headLink a{color:#fff; padding:0 2px; float:left;line-height:16px; height:16px; margin-bottom:4px; margin-left:4px; font-family:simsun;}
.headLink a:hover{background:#f90;color:#fff !important;text-decoration:none;}
.headLink a.a_head{width:15px; height:16px; line-height:17px;_line-height:18px; font-size:13px;overflow:hidden;padding:0;background: #f90; margin-left:0; text-align:center;}
.headLink a.a_head:hover{background: #f90;color:#fff !important;text-decoration:none;}
/*Ã§â€Â·Ã¦Â­Â£Ã©ÂÂ¢*/
.man_z{background: url(../images/man_zm.png) no-repeat 0 0;position:relative;width: 210px;height:300px;float:left;overflow:hidden;margin: 0 auto;}
.man_z i{ position:absolute; background: url(../images/man_zm.png) no-repeat 0 0; display:none; z-index:1;}
.mz_b1 i{ width:68px; height:41px; background-position:-346px -3px; display:block; left:96px; top:3px;}
.mz_b2 i{ width:95px; height:45px; background-position:-332px -51px; display:block; left:82px; top:50px;}
.mz_b3 i{ width:93px; height:30px; background-position:-338px -109px; display:block; left:88px; top:96px;}
.mz_b4 i{ width:190px; height:102px; background-position:-513px -6px; display:block; left:11px; top:54px;}
.mz_b5 i{ width:140px; height:170px; background-position:-523px -119px; display:block; left:21px; top:129px;}
.mz_b6 i{ width:115px; height:25px; background-position:-335px -153px; display:block; left:85px; top:120px;}
.mz_b1 .headLink{display:block;}
.man_z .mz1{width:67px;height:40px;left:96px;top:5px;display:block; z-index:2;position:absolute;}
.man_z .mz2{width:88px;height:40px;left:89px;top:53px;display:block; z-index:2;position:absolute;}
.man_z .mz3{width:93px;height:30px;left:89px;top:93px;display:block; z-index:2;position:absolute;}
.man_z .mz4{width:85px;height:91px;left:0px;top:55px;display:block; z-index:2;position:absolute;}
.man_z .mz5{width:185px;height:148px;left:15px;top:155px;display: block; z-index:2;position:absolute;}
.man_z .mz6{width:111px;height:24px;left:89px;top:123px;display:block; z-index:2;position:absolute;}
/*Ã§â€Â·Ã¨Æ’Å’Ã©ÂÂ¢*/
.man_b{background: url(../images/man_bm.png) no-repeat 0 0;position:relative;width:200px;height:310px;float:left;overflow:hidden;/* margin-left:90px; */}
.man_b i{ position:absolute; background: url(../images/man_bm.png) no-repeat 0 0; display:none; z-index:1;}
.mb_b1 i{ width:68px; height:16px; background-position:-256px -17px; display:block; left:56px; top:24px;}
.mb_b2 i{ width:105px; height:16px; background-position:-228px -148px; display:block; left:28px; top:107px;}
.mb_b3 i{ width:86px; height:20px; background-position:-283px -173px; display:block; left:83px; top:121px;}
.mb_b4 i{ width:93px; height:17px; background-position:-289px -125px; display:block; left:89px; top:94px;}
.mb_b5 i{ width:69px; height:36px; background-position:-303px -83px; display:block; left:103px; top:62px;}
.mb_b6 i{ width:104px; height:42px; background-position:-281px -39px; display:block; left:81px; top:39px;}
.mb_b7 i{ width:200px; height:300px; background-position:-400px 0; display:block; left:0; top:0;}
.man_b .mb1{width:66px;height:16px;left:56px;top:24px;display:block;z-index:2; position:absolute;}
.man_b .mb2{width:103px;height:13px;left:28px;top:109px;display:block;z-index:2;position:absolute;}
.man_b .mb3{width:85px;height:20px;left:85px;top:121px;display:block;z-index:2;position:absolute;}
.man_b .mb4{width:92px;height:12px;left:90px;top:97px;display:block;z-index:2;position:absolute;}
.man_b .mb5{width:82px;height:31px;left:93px;top:65px;display:block;z-index:2;position:absolute;}
.man_b .mb6{width:92px;height:24px;left:93px;top:41px;display:block;z-index:2;position:absolute;}

.man_b .mb7{width:89px;height:65px;left:0;top:41px;display:block;z-index:2;position:absolute;}
.man_b .mb71{width:97px;height:152px;left:60px;top:144px;display:block;z-index:2;position:absolute;}
/*Ã¥Â¥Â³Ã¦Â­Â£Ã©ÂÂ¢*/
.woman_z{background: url(../images/woman_zm.png) no-repeat 0 0;position:relative;width:250px;height:310px;float:left;overflow:hidden;margin-left: 30px;}
.woman_z i{ position:absolute; background: url(../images/woman_zm.png) no-repeat 0 0; display:none; z-index:1;}
.wmz_b1 i{ width:68px; height:40px; background-position:-346px -3px; display:block; left:96px; top:3px;}
.wmz_b2 i{ width:91px; height:44px; background-position:-335px -54px; display:block; left:85px; top:50px;}
.wmz_b3 i{ width:93px; height:30px; background-position:-338px -109px; display:block; left:88px; top:86px;}
.wmz_b4 i{ width:191px; height:110px; background-position:-512px -6px; display:block; left:11px; top:48px;}
.wmz_b5 i{ width:150px; height:180px; background-position:-521px -128px; display:block; left:21px; top:128px;}
.wmz_b6 i{ width:115px; height:33px; background-position:-335px -153px; display:block; left:85px; top:114px;}
.woman_z.wmz_b1 .headLink{display:block; top:6px;}
.woman_z .wmz1{width:67px;height:40px;left:96px;top:5px;display:block;z-index:2;position:absolute;}
.woman_z .wmz2{width:88px;height:40px;left:89px;top:53px;display:block;z-index:2;position:absolute;}
.woman_z .wmz3{width:93px;height:30px;left:89px;top:93px;display:block;z-index:2;position:absolute;}
.woman_z .wmz4{width:85px;height:91px;left:0px;top:55px;display:block;z-index:2;position:absolute;}
.woman_z .wmz5{width: 185px;height: 148px;left: 15px;top: 158px;display: block;z-index:2;position:absolute;}
.woman_z .wmz6{width:111px;height:24px;left:89px;top:123px;display:block;z-index:2;position:absolute;}
/*Ã¥Â¥Â³Ã¨Æ’Å’Ã©ÂÂ¢*/
.woman_b{background:url(../images/woman_bm.png) no-repeat 0 0;position:relative;width:200px;height:310px;float:left;display:none;overflow:hidden;/* margin-left:90px; */}
.woman_b i{ position:absolute; background: url(../images/woman_bm.png) no-repeat 0 0; display:none; z-index:1;}
.wmb_b1 i{ width:66px; height:16px; background-position:-256px -13px; display:block; left:56px; top:28px;}
.wmb_b2 i{ width:108px; height:16px; background-position:-228px -155px; display:block; left:28px; top:111px;}
.wmb_b3 i{ width:88px; height:24px; background-position:-281px -192px; display:block; left:81px; top:124px;}
.wmb_b4 i{ width:93px; height:16px; background-position:-289px -125px; display:block; left:89px; top:98px;}
.wmb_b5 i{ width:68px; height:33px; background-position:-304px -84px; display:block; left:104px; top:67px;}
.wmb_b6 i{ width:106px; height:39px; background-position:-279px -36px; display:block; left:79px; top:45px;}
.wmb_b7 i{ width:200px; height:300px; background-position:-400px 0; display:block; left:0; top:0;}
.woman_b .wmb1{width:66px;height:16px;left:56px;top:28px;display:block;z-index:2;position:absolute;}
.woman_b .wmb2{width:106px;height:13px;left:28px;top:113px;display:block;z-index:2;position:absolute;}
.woman_b .wmb3{width:90px;height:21px;left:80px;top:126px;display:block;z-index:2;position:absolute;}
.woman_b .wmb4{width:94px;height:15px;left:88px;top:98px;display:block;z-index:2;position:absolute;}
.woman_b .wmb5{width:75px;height:31px;left:100px;top:67px;display:block;z-index:2;position:absolute;}
.woman_b .wmb6{width:100px;height:22px;left:85px;top:45px;display:block;z-index:2;position:absolute;}
.woman_b .wmb7{width:85px;height:66px;left:0;top:45px;display:block;z-index:2;position:absolute;}
.woman_b .wmb71{width:85px;height:160px;left:67px;top:147px;display:block;z-index:2;position:absolute;}

.peopBut{clear:both;overflow:hidden;padding:20px 0 0 265px;}
.peopBall{background:#86c761;width:82px;height:32px;color:#fff;font-size:14px;text-align:center;display:block;float:left;line-height:32px;text-decoration:none;font-weight:bold;margin-right:10px;}
.peopBall:hover{color:#fff !important; text-decoration:none; background:#9cd67b;}
.peopMan,.peopWoman{background:url(../images/peop_but.png) no-repeat -82px 0;width:82px;height:32px;float:left;display:block;}
.peopMan:hover{background-position:-82px -32px;}
.peopWoman{background-position:0 0;}
.peopWoman:hover{background-position:0 -32px;}
.peopWoman{display:none;}
.segmented-control-l{float:left;margin:20px 0 0 20px;}
.segmented-control-r{float:right;margin:20px 20px 0 0;}
.man_b,.woman_b{display:none;}









@media screen and (max-width: 920px){
	.patient_list_title,.tabs_expert_content{padding:0;width:100%;text-indent:0px;margin-top:10px;font-size:16px;}
	.main-title{background:none;padding:5px 0 0 0;}
	.patient_list_title, .tabs_expert_content{text-indent:10px;}
	#containers{margin:0 5px;width:auto;}
	#containers .patient_banner,.tab_content_end{background:rgba(255,255,255,0.8);padding:10px 0;}
	.patient_list_titleBasic{margin-bottom:0px;}
	#containers .patient_banner table tr td{padding:10px 0;font-size:14px;}
	.tab_content{background:rgba(255,255,255,0.8);border:none;}
	.tab_content{width:100%;margin-bottom:5px;}
	#containers .patient_banner, .tab_content_end,.tab_content{-moz-box-shadow: 0 1px 2px rgba(47,195,194,0.3);-webkit-box-shadow: 0 1px 2px rgba(47,195,194,0.3);box-shadow: 0 1px 2px rgba(47,195,194,0.3);}
	.tab_content .tab_content_title{padding-left:8px;}
	.tab_content_end .tab_content_p{padding:0px 20px 100px 20px;}
	.tab_content .tab_content_title span{color:#2fc3c2;}
	#header{margin-top:50px;}
	#header .logo{margin-bottom:20px;}
	.tab_content table tr td,#containers .patient_banner table tr td{border-bottom:1px dashed #2fc3c2;}
}


.arrow{ position: absolute; bottom:80px; left:0;width:100%; height: 28px;font-size:52px;color:#fff;cursor:pointer;
-webkit-animation: start 1.5s infinite ease-in-out;
-moz-animation: start 1.5s infinite ease-in-out;
animation: start 1.5s infinite ease-in-out;
}
.ck{position: absolute; bottom:30px; left:0;width:100%; height: 28px;font-size:14px;color:#fff; text-align:center; text-indent:5px;}
.addLT{width:100%; text-align:center;}
.addLT div{/* clear:both; */background:rgba(255,255,255,0.5);padding: 8px 30px;-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;display:inline-block;margin-bottom: 20px;}

.aLinks{width:100%; text-align:center;margin-top:30px;}
.aLinks a{display:inline-block;width:45%;margin:0 5px;-moz-box-shadow: 0 1px 2px rgba(47,195,194,0.8);-webkit-box-shadow: 0 1px 2px rgba(47,195,194,0.8);box-shadow: 0 1px 2px rgba(47,195,194,0.8); background:#fff;font-size:16px;color:#2fc3c2;padding:15px 5px;margin-bottom:10px;border:1px solid #fff;}
.aLinks a:focus,.aLinks a:hover{border:1px solid #2fc3c2;}
.aLinks a.endLink,.aLinks a.endLink:focus,.aLinks a.endLink:hover{background:transparent;border-color:transparent;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}

.newsContent p.pNewsTitle{text-indent:0px;font-weight:bold;}
.newsContent p.pNewsTitles{text-indent:0px;}
.contactList{margin-top: 60px;width:100%;}
.contactList p{position:relative;display:inline-block;width:90%;margin:0 5px;-moz-box-shadow: 0 1px 2px rgba(47,195,194,0.8);-webkit-box-shadow: 0 1px 2px rgba(47,195,194,0.8);box-shadow: 0 1px 2px rgba(47,195,194,0.8); background:#fff;font-size:16px;color:#2fc3c2;padding: 5px 10px 5px 35px;margin-bottom: 5px;border:1px solid #fff; line-height:1.5em;}
.contactList p i{position:absolute;left: 10px;top: 8px;display:inline-block;font-size:16px;}
.fs{position:fixed;bottom:30px;color:#2fc3c2;font-size:18px;}
.fs:hover{color:#71A155;}
.lf{left:30px;}
.rf{right:30px;}



@-webkit-keyframes start {
	0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
	60% {opacity: 1;-webkit-transform: translate(0,0);}
	100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
@-moz-keyframes start {
	0%,30% {opacity: 0;-moz-transform: translate(0,10px);}
	60% {opacity: 1;-moz-transform: translate(0,0);}
	100% {opacity: 0;-moz-transform: translate(0,-8px);}
}

@keyframes start {
	0%,30% {opacity: 0;transform: translate(0,10px);}
	60% {opacity: 1;transform: translate(0,0);}
	100% {opacity: 0;transform: translate(0,-8px);}
}



.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;

	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;

	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

.swiper-slide img{height:150px;width:100%;}
.swiper-main,.swiper-slide,.swiper-container-android .swiper-slide, .swiper-wrapper,.swiper-container{width:100%;}
.swiper-containers{position:relative;margin-top:50px;overflow:hidden;height:150px;}
.swiper-pagination-switch{
	display: inline-block;
	width:6px;
	height:6px;
	background:none;
	border:2px solid #fff;
	margin:0 3px;
	cursor: pointer;
	-moz-border-radius:10px;-webkit-border-radius:10px;
	border-radius:10px;
	opacity:1;
}
.swiper-active-switch{
	width:6px;
	height:6px;
	-moz-border-radius:10px;-webkit-border-radius:10px;
	border-radius:10px;
	background: #fff;
}
.pagination1{ position:absolute;left:10px;bottom:10px;z-index:9;}
.imgCenter{width:100%;margin-top:100px;text-align:center;}
.imgCenter img{width:124px;height:134px;}
.imgCenter  p{color:#aaa; font-size:18px;font-size:1.8rem;width:100%;text-align:center;padding-top:10px;}